
<div class="row">

    <div class="col-md-12 text-center">
        <h1 class="page-header">關卡 <%= "#{@no} : #{@level.name}" %></h1>
    </div>

    <div class="col-md-12" align="center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img class="img-responsive level-img" src="<%= @level.image_path %>">
          </div>
        </div>
        <h2><%= @level.description %></h2>
    </div>

    <%= form_tag "/home/create/#{@level.id}" do %>
      <ul>
      <% @options.each do |option| %>
        <li>
          <input type="checkbox" id="cb<%= option.id %>" value="<%= option.id %>" />
          <label for="cb<%= option.id %>">
            <h4 class="text-center"><%= option.name %></h4>
            <img src="<%= option.image_path %>">
          </label>
        </li>
      <% end %>
      </ul>

      <div class="col-md-12 text-center" style="margin: 50px 0">
        <button type="submit" class="btn btn-success btn-lg submit-btn" >
          完成送出
        </a>
      </div>
    <% end %>
</div>
