<div class="row">

    <div class="col-md-12 text-center">
        <h1 class="page-header">關卡 <%= "#{@no} : #{@level.name}" %></h1>
    </div>

    <div class="col-md-12" align="center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img class="img-responsive level-img" src="<%= @level.image_path %>">
          </div>
        </div>
        <h2><%= @level.description %></h2>
    </div>

    <%= form_tag "/home/create/#{@level.id}" do %>
      <ul>
      <% @options.each do |option| %>
        <li>
          <input type="checkbox" id="cb<%= option.id %>" value="<%= option.id %>" />
          <label for="cb<%= option.id %>">
            <h4 class="text-center"><%= option.name %></h4>
            <img src="<%= option.image_path %>">
          </label>
        </li>
      <% end %>
      </ul>

      <div class="col-md-12 text-center" style="margin: 50px 0">
        <button type="submit" class="btn btn-success btn-lg submit-btn" >
          完成送出
        </a>
      </div>
    <% end %>
</div>

<style>
  input[type="checkbox"][id^="cb"] {
    display: none;
  }
  label {
    border: 1px solid #999;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  label img {
    height: 180px;
    width: 200px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  :checked + label {
    border-color: #ddd;
  }
  :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }
</style>
