<div class="row">
  <div class="col-md-12 text-center">
      <h1 class="page-header">關卡
        <%= "#{@no} : #{@level.name}" %>
        <br>結果
      </h1>
  </div>

  <div class="col-md-12 text-center">
    <h2><%= get_result_msg(@is_pass) %></h2>
  </div>
</div>

<div class="row" align="center">

    <% if @is_pass == "true" %>
      <div class="col-md-12 text-center">
        <a class="btn btn-default btn-lg result-btn"
           href="/">回首頁</a>
        <% if @next_no > 0 %>
          <a class="btn btn-primary btn-lg result-btn"
             href="/home/new/<%= @next_id %>?no=<%= @next_no %>">下一關</a>
        <% end %>
      </div>
    <% else %>

      <div class="alert alert-danger" role="alert" style="max-width: 600px">
        <strong style="font-size: 16pt">
          <%= get_tip(@level.id) %>
        </strong>
      </div>

      <div class="col-md-12 text-center">
        <a class="btn btn-default btn-lg result-btn"
           href="/">回首頁</a>
        <a class="btn btn-primary btn-lg result-btn"
           href="/home/new/<%= @level.id %>?no=<%= @no %>">重新作答</a>
      </div>

    <% end %>

</div>
