
<div class="row text-center">
    <h1 class="page-header"><%= @level.name %> - 新增提示</h1>
</div>

<%= form_for @tip do |f| %>
    <%= f.hidden_field :level_id, :value => @level.id %>
    <div class="row">
        <table class="table table-bordered form-table">
            <tr>
                <td class="bg-info">
                    提示名稱
                </td>
                <td>
                    <%= f.text_field :name, :class => "form-control" %>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="row" align="center">
         <%= f.submit "送出",
         :class => "btn btn-success btn-create",
         :style => "max-width: 200px" %>

        <a class="btn btn-default btn-create" href="/tips/<%= @level.id %>">取消</a>
    </div>
<% end %>
